body.randomiser {
  header {
    img#nflBadge {
      height: 20vh;
    }
  }
  .player {
    border-right: 1px dotted rgba(255, 255, 255, 0.1);
    height: 80px;
    margin-bottom: 20px;
  }
  button#confirmBtn {
    display: none;
  }
  #pick {
    height: 60px;
  }
}
